<!--Contact and Map-->
<section class="p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md">
        <h2 class="text-center mb-4">Contact Info</h2>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item"><span class="fw-bold">Main Location :</span> 50 Main street Boston</li>
          <li class="list-group-item"><span class="fw-bold">Enrollemnt Phone :</span> 084433-98-0998</li>
          <li class="list-group-item"><span class="fw-bold">Student Phone :</span> 876-0988-099</li>
          <li class="list-group-item"><span class="fw-bold">Enrollement Email :</span> enroll@gmail.com</li>
          <li class="list-group-item"><span class="fw-bold">Student Email :</span> student@gmail.com</li>
        </ul>
      </div>
      <div class="col-md">
        <div id='map'></div>
      </div>
    </div>
  </div>
</section>
