<!-- Modal -->
<ng-template #mymodal let-modal>
  <div class="modal fade" id="enroll" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enrollLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fill lout this Form and we will get back to you.</p>
          <form>
            <div class="mb-4">
              <label for="first-name" class="col-form-label">First Name :</label>
              <input class="form-control" type="text" id="first-name" />
            </div>
            <div class="mb-4">
              <label for="last-name" class="col-form-label">Last Name :</label>
              <input class="form-control" type="text" id="last-name" />
            </div>
            <div class="mb-4">
              <label for="email" class="col-form-label">Email :</label>
              <input class="form-control" type="text" id="email" />
            </div>
            <div class="mb-4">
              <label for="phone" class="col-form-label">Phone :</label>
              <input class="form-control" type="text" id="phone" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
