<!--Showcase-->
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1> Become a <span class="text-warning"> Web Developer</span> </h1>
        <p class="lead my-4"> We focus on teaching our students the fundamentals of the largest
          and the greatest technology to prepare them for their first dev role
        </p>
        <button class="btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll" (click)="openModal()">
          Start the enrollment</button>
      </div>
      <img class="w-50 image-fluid" src="../assets/developer.svg" alt="developer">
    </div>
  </div>
</section>
