<!--Learn Sections -->
<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img class="image-fluid" src="../assets/js.svg" width="772px" height="547px" alt="js">
      </div>
      <div class="col-md p-5">
        <h2>Learn the Fundamentals</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sed ducimus commodi,
          necessitatibus, eligendi aspernatur earum magnam veritatis dolor ipsam aut. Fugit ex omnis voluptatum odio
          modi,
          nostrum quas molestias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur laudantium quo dicta, quas eveniet
          cupiditate unde harum dolor similique alias, soluta voluptatibus perspiciatis voluptate! Maiores quod ducimus
          ad
          veniam dolorum!</p>
        <a href="#" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Read More</a>
      </div>
    </div>
  </div>
</section>
